package test

const (
	// 缓存
	CacheUrl = "redis://127.0.0.1:6379/1"
	// ImagePath
	ImagePath = "/home/user/Pictures/a.png"
	// VideoPath
	VideoPath = "/home/user/Videos/b.mp4"
	// AudioPath
	AudioPath = "/home/user/Music/b.amr"
	// 企业微信
	CorpID = "wx7123451234512345" // 企业ID
	// 自建H5应用， 回调配置参考 https://work.weixin.qq.com/api/doc/90000/90135/90237
	AgentID             = 1012345                                     // 企业（自建）应用ID
	AgentSecret         = "eeRaquaec0nie7gughahC3xeobaethai8OoGh5DahSh" // 企业（自建）应用密钥
	AgentContactSecret  = "Al6caeno4ooba5oi0Tha8yaec7ojaeshooh6Sooxem9" // 企业（自建）通讯录密钥， 只有这个才能写通讯录
	AgentToken          = "othuiRi3beero0xut6ohquiewahthaixu7cor8OShai" // 接收消息服务器配置（Token）
	AgentEncodingAESKey = "teingie6aeSha9uo7aiC6phaez0moofooy7pa3kohCa" // 接收消息服务器配置（EncodingAESKey）
	AgentUserID         = "test"                                        // 用作测试的用户ID
	AgentUserMobile     = "13800138000"                                 // 用作测试的用户手机号
	AgentRootDep        = 1                                             // agent授权根目录
	AgentOATmplID       = "f3576c5d4859291937381a9288c8688b_951211346"  // 企业（自建） 审批模板ID
	AgentOAThirdNo      = "f3576c5d4859294"     // 企业（自建） 审批业务单号， 每次申请之后需要更换

	// 微信服务号
	OfficialAccountAppid  = "wx7123451234512345"
	OfficialAccountSecret = "eeRaquaec0nie7gughahC3xeobaethai8OoGh5DahSh"
	OfficialAccountToken  = "othuiRi3beero0xut6ohquiewahthaixu7cor8OShai" // 接收消息服务器配置（Token）
	OfficialAccountAESKey = "teingie6aeSha9uo7aiC6phaez0moofooy7pa3kohCa" // 接收消息服务器配置（EncodingAESKey）
	OfficialAccountAuthKey   = "MP_verify_7JuEh0gsFco1d0Uq.txt"           // 域名所有权检验 文件名
	OfficialAccountAuthValue = "7JuEh0gsFco1d0Uq"                         // 域名所有权检验 文件内容
	OfficialAccountOpenid = "oWVnF6Nea1OmiVfxBe7Q28__2K2g" // 关注服务号的用户openid

	// 发票
	InvoicePayee             = "深圳市XXX信息技术有限公司"
	InvoicePhone             = "13800138000"
	InvoiceType              = "广东省增值税普通发票"
	InvoiceCustomUrlName     = "XXX公司"
	InvoiceCustomURL         = "https://www.xxx.com"
	InvoiceCustomUrlSubTitle = "XXX"
	InvoicePdf               = "fapiao.pdf"

	//===================================== 微信开放平台 =====================================
	WxOpenAppid          = "abcd"
	WxOpenSecret         = "efghi"
	WxOpenToken          = "jklmn"
	WxOpenEncodingAESKey = "opqrst"
	WxOpenOAAppid        = "abcdefg" // 开放平台授权的测试服务号
	WxOpenOAOpenID       = "okJIps_G-jaMzKPQgOVYexXEoMj8" // 开放平台授权的测试服务号用户

	//===================================== 企业微信服务商 =====================================
	WxWorkProviderCorpID = "abcdefg"
	WxWorkProviderSecret = "hijklmn"


	//===================================== 企业微信服务商应用 =====================================
	WxWorkSuiteID = "abc"
	WxWorkSuiteSecret = "def"
	WxWorkSuiteToken          = "jklmn"
	WxWorkSuiteEncodingAESKey = "opqrst"
	WxWorkSuiteOaTmplID       = "404641918b5f9380ffa9f26aebbc711c_1190810156" // 企业审批模板ID
	WxWorkSuiteOaThirdNo      = "f3576c5d4859294"     // 企业 审批业务单号， 每次申请之后需要更换

	WxWorkSuiteCorpID = "abce" // 授权给服务商的集团Corp ID
	WxWorkSuiteAgentID = 123 // 授权给服务商的集团 应用ID

	//===================================== 网页扫码登录 =====================================
	WxSSOAppid  = "abcdefg"
	WxSSOSecret = "hijklmn"

	// ==================================== 外部联系人 =======================================
	UserID = "daihaoran"
	ExternalUserId = "wmVYOuDwAAFyIaUyr0zzzv5Uxllxq0iA"

)

var (
	//===================================== 微信开放平台 =====================================
	WxOpenDomainVer = []struct {
		Filename string
		Content  string
	}{
		{
			Filename: "2576848698.txt",
			Content:  "65f48d80e5c86c1d357ca439d9e7d83e",
		},
	}

	//===================================== 企业微信服务商 =====================================
	WxWorkSuiteDomainVer = []struct {
		Filename string
		Content  string
	}{
		{
			Filename: "WW_verify_abcdegh.txt",
			Content:  "hijikmm",
		},
	}

	//===================================== 企业微信 =====================================
	WxWorkAgentDomainVer = []struct {
		Filename string
		Content  string
	}{
		{
			Filename: "WW_verify_otGxh4qyUaJvxlrM.txt",
			Content:  "otGxh4qyUaJvxlrM",
		},
	}
)
